body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"],
button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007bff; /* Warna biru */
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Warna biru yang sedikit lebih gelap saat dihover */
}

a {
    color: #ff6600; /* Warna orange untuk tautan */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Garis bawah pada tautan saat dihover */
}

h2 {
    color: #000080; /* Biru gelap untuk judul */
}

h3 {
    color: #ff6600; /* Orange untuk sub-judul */
}

h4 {
    color: #8b4513; /* Coklat untuk judul tabel */
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2; /* Warna abu-abu untuk latar belakang header tabel */
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Warna abu-abu untuk baris genap dalam tabel */
}
